/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*@font-face {
   font-family: "chalkHead";
   src: font-url("Firestarter Z.otf");
   src: font-url("FirestarterZ.ttf");
}*/


html {
  height: 100vh;
}
body {
  display: flex;
  flex-direction: row;
  position: fixed;
  background: url("/assets/cropped_tile.jpg");
  background-size: 30%;
}
  .left {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .right {
    display: flex;
    flex-direction: column;
    background-image: url("/assets/yellowpad.jpg");
    background-size: auto 90vh;
    background-repeat: no-repeat;
    position: fixed;
    box-shadow: 0 5px 15px 0px;
    height: 80vh;
    width: 25vw;
    padding: 70px 50px 0 56px;
    margin-top: 30px;
    right: 0px;
  }
  .order_list {
    font-size: 19px;
    font-family: Courier;
    margin: 0;
  }
  .order_head {
    margin: 0;
    font-family: Courier;
  }
nav {
  display: flex;
  flex-direction: row;
  height: 15vh;
  width: 60vw;
  justify-content: flex-end;
}
#yield {
   display: flex;
   flex-direction: column
}


.heading_section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 10px 20px;
  color: rgba(255, 255, 255, .8);
}
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}
.button_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed rgba(255, 255, 255, .8);
  border-radius: 50px;
  min-width: 125px;
  max-width: 150px;
  height: 100px;
  margin: 10px;
  padding: 0 5px;
  text-align: center;
  color: rgba(255, 255, 255, .8);
  font-size: 24px;
}
.red {
  background-color: rgba(178, 34, 34, .5);
}
.green {
  background-color: rgba(152, 251, 152, .4);
}
.back_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .5);
  border: 3px dashed rgba(255, 255, 255, .8);
  border-radius: 50px;
  height: 50px;
  width: 70px;
  margin: 0 15px 0 0;
  color: rgba(255, 255, 255, .8);
}
.edit_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .5);
  border: 3px dashed rgba(255, 255, 255, .8);
  border-radius: 50px;
  width: 100px;
  height: 15px;
  margin: 0 5px 5px 5px;
  color: black;
}
.ingredients {
  height: 30vh;
  overflow-y: scroll;
}

.all_ingredients {
  height: 60vh;
  overflow-y: scroll;
}

.nav_button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 30px 10px 0 10px;
  padding-top: 10px;
  width: 150px;
  height: 50px;
  background-color: rgba(255, 255, 255, .7);
  border: 3px dashed white;
  border-radius: 20px;
  font-family: verdana;
  font-weight: bold;
  color: black;
}
.main_head {
  position: fixed;
  left: 10px;
  top: -30px;
  height: 40px;
  background-color: rgba(255, 255, 255, .7);
  border: 3px dashed white;
  border-radius: 20px;
  padding: 50px 5px 5px 5px;
  font-size: 20px;
}
a {
  text-decoration: none;
}

.form {
  border: 1px dashed white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .5);
  padding: 0 15px 5px 15px;
  margin: 0 30px 0 0;
}

h1 {
  display: flex;
  margin: 0 5px;
  font-size: 40px;
}

.yield {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  background-image: url("/assets/chalkboard.jpg");
  background-position: top right;
  box-shadow: 0 10px 15px 3px;
  height: 85vh;
  width: 60vw;
  padding: 50px 20px 0 20px;
  margin: 0 0 -10px 0;
}

.edit {
  font-size: 15px;
  margin: 5px 0 0 0;
}
.code {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0;
  margin: 0;
}
.name {
  padding: 15px 5px 0 5px;
  margin: 0;
}

h3 {
  color: white;
  margin: 10px 5px 0 5px;
}
.add_order {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
  border: 2px solid white;
  border-radius: 5px;
  height: 8vh;
  width: 150px;
  padding: 30px;
  margin: 0 25px 0 50px;
}

.flash {
  position: fixed;
  left: 150px;
  top: -40px;
  height: 20px;
  background-color: rgba(255, 255, 255, .7);
  border: 3px dashed white;
  border-radius: 20px;
  padding: 20px 15px 5px 15px;
  font-size: 20px;
  z-index: 1;
}
.submit_button {

  height: 40px;
  background-color: rgba(255, 255, 255, .3);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  margin: 15px 0 5px 0;
}
